/* Estilos generales */

body {
	font-family: Arial, sans-serif;
	background-image: url('https://i.ibb.co/NpvKjzy/85943.jpg');
  margin: 0;
  padding: 0;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
  
  /* Contenedor de números */
.contenedor-numeros {
  background-color: #fff;
  border: 2px solid #e6baba;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 800px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  
  /* Cuadros de entrada */
.cuadro1, .cuadro2 {
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
}

  /* Etiquetas */
label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

  
  /* botones */
select, button {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid a#d46868;
  box-shadow: 0 0 3px rgba(187, 181, 181, 0.2);
}

  
  /* resultados */

#resultados {
  margin-top: 1em;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #d88b8b;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
